.navbar-brand {
  font-weight:  bold;
  color: blueviolet;
                
  ;}

  .title2{
    text-align: center;
    color: #33105d;
    font-weight: bold;
    font-size: 170%;
  }

  .subrayado::after {
    content: ""; /* Agrega contenido al pseudo-elemento */
    position: absolute; /* Establece posición absoluta para el subrayado */
    left: 0; /* Alinea el subrayado con el borde izquierdo del contenedor */
    bottom: -2px; /* Coloca el subrayado justo debajo del texto */
    width: 100%; /* Establece el ancho del subrayado */
    height: 3px; /* Establece el grosor del subrayado */
    background-color: #014ba0; /* Color del subrayado */
}

.subrayado {
  position: relative; /* Establece posición relativa para el contenedor */
}



a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  footer {
    background: #212529;
  }
  
  
  /* ==========================================
      CUSTOM UTILS CLASSES
    ========================================== */
    body, html {
      height: 100%;
    }

    .small-text-muted {
      color: white;
    }
  
.titulo1 {color: white;}

.navbarrr{
  color: white
  ;
}

.contenedor {
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
}